<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../styles/index.css" type="text/css" rel="stylesheet">
    
    <title>Post</title>
    
</head>
<body>

    <div class="container">
        <label class="username"> Lorem ipsum</label>
        <label style="float: right;" class="signed-label">Signed: </label>
    </div>

    <div class="container">
        <div class="row align-items center grid view-posts-container"></div>
        <div id='form' class="row grid add-comments align-items"></div>
        <div class="align-items center grid comments-container" style="padding-left: 30px;">
            <div class="row">
                <label class="col-sm user-comment">Lorem Ipsum</label>
            </div>
            <div class="row">
                <input placeholder="Write down, your comments" id='add-body' class="row col-10 post-input form-control">
                <button class="col-2 post-button">Add</button> 
            </div>
            <div class="row comment-label">
                <label class="col-sm">Comments<span class="badge badge-secondary comment-badge"></span></label></div>
                </div>
        </div>
    </div>

    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./post.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>